:root{
    body[dataTheme='dark']{
        --primaryBg: hsl(0, 0%, 10%);
        --secondaryBg: hsl(0, 0%, 20%);
        --tertiaryBg: hsl(0, 0%, 30%);
        --hlColor:hsl(0, 72%, 47%);
        --primaryText:hsl(0,0%,100%);
        --secondaryText:hsl(0,0%,0%);
    }
    body[dataTheme='light']{
        --primaryBg: hsl(0, 0%, 90%);
        --secondaryBg: hsl(0, 0%, 85%);
        --tertiaryBg: hsl(0, 0%, 80%);
        --hlColor:hsl(0, 72%, 47%);
        --primaryText:hsl(0,0%,0%);
        --secondaryText:hsl(0,0%,100%);
    }
    body[dataFont='normal']{
        --fontSm: 1rem;
        --fontMd: 1.5rem;
        --fontLg: 2rem;
        --fontXl: 2.5rem;
      }
    body[dataFont='small']{
        --fontSm: 0.75rem;
        --fontMd: 1.25rem;
        --fontLg: 1.75rem;
        --fontXl: 2.25rem;
    }
    body[dataFont='large']{
        --fontSm: 1.25rem;
        --fontMd: 1.75rem;
        --fontLg: 2.25rem;
        --fontXl: 2.75rem;
    }
    --radiusSm:0.5rem;
    --radiusMd:1rem;
    --radiusLg:1.5rem;
    --radiusXl:2rem;

}
body{
    margin: 0;
}
body{
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    min-height: 100vh;
    background-color: var(--primaryBg);
    transition: background-color 250ms;
}
p,a,span,div,input,select,button{
  font-size: var(--fontSm);
  transition: font-size 250ms;
}
h3,h4{
  font-size: var(--fontMd);
  transition: font-size  250ms;
}
h2{
  font-size: var(--fontLg);
  transition: font-size  250ms;
}
h1{
  font-size: var(--fontXl);
  transition: font-size  250ms;
}
p,a,h1,h2,h3,h4,svg,div,span,input,select,button{
  color: var(--primaryText);
  margin: 0;
  font-family: system-ui, sans-serif;
}
button{
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}
